.logo {
    top: 120px;
    left: 170px;
    opacity: 1;
    color:rgb(237,224,206);
  }
  
  body {
    background-color: rgb(237,224,206);
  }
  
  .bg-primary {
    background-color: rgb(60,44,59);
  }
  
  .carouselExampleIndicators {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .fondo {
    background-color: rgb(79,53,77);
    border : 1px solid rgb(60,44,59);
  }
  
  .texto {
    color: black;
  }
  