.logo {
  top: 120px;
  left: 170px;
  opacity: 1;
  color:rgb(237,224,206);
}

.sobre {
  top: 100px;
  left: 30px;
  opacity: 0.7;
  background-color: gray;
  color: white;
  transform: rotate(10deg);
  border: 1px solid red;
}

body {
  background-color: rgb(237,224,206);
}

.bg-primary {
  background-color: rgb(60,44,59);
}

.carouselExampleIndicators {
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;
}

text {
  color: rgb(237,224,206);
  background-color: rgb(79,53,77)
  rgb(60,44,59)
  rgb(214,163,92)
  ;
}

.fondo {
  background-color: rgb(79,53,77);
  border : 1px solid rgb(60,44,59);
}

.texto {
  color: black;
}
